{src_dirs, ["src/lfe"]}.

{deps, [
    {lfe, {git, "https://github.com/rvirding/lfe.git", {branch, "develop"}}},
    {logjam, {git, "git://github.com/lfex/logjam.git", {tag, "0.5.0-rc2"}}}
  ]}.

{plugins, [
    {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc3"}}}
  ]}.

{provider_hooks, [
    {pre, [{compile, {lfe, compile}}]}
  ]}.
