{erl_opts, [{src_dirs, ["src/lfe"]}]}.

{deps, [
   {lfe, {git, "git://github.com/rvirding/lfe.git", "develop"}},
   {logjam, {git, "git://github.com/lfex/logjam.git", {tag, "0.1.0"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc2"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.
